.ud-cwisata {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0px 10px 90px -6px #c7c5c7;
    -moz-box-shadow: 0px 10px 90px -6px #c7c5c7;
    box-shadow: 0px 10px 90px -6px #c7c5c7;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    min-height: 340px;
}

.cwisata-img-warp {
    position: relative;
}
